<%-include('header') %>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('sidebar') %>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                
                <!-- Topbar -->
                <%- include('navbar') %>

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    
                    <!-- Page Heading -->
                    <div class="container mt-5">
                        <div class="row">
                          
                          <div class="col-sm-6  ">
                            <div class="card">
                              <div class="card-body">
                                <h3 class="login-page-heading">Create account</h3>
                      
                                <!-- Makes POST request to /login route -->
                                  <form actionid="signup-form" action="/admin/members/register/retailer" method="post" id="admin-new-member-form">
                                  <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"> <i class="fas fa-users-cog"></i> </span>
                                  </div>
                                  <select name="accountType" class="form-control account-type" id="admin-new-member-account-type">
                                    <option selected> Retailer</option>
                                    <option>Distributor</option>
                                  </select>
                                </div>
                                  <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                     </div>
                                        <input name="username" class="form-control" placeholder="Username" type="text">
                                    </div> <!-- form-group// -->
                                    <div class="form-group input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                     </div>
                                        <input name="email" class="form-control" placeholder="Email address" type="email">
                                    </div> 
                                    <div class="form-group input-group" id="sponsered-by-input">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fas fa-asterisk"></i> </span>
                                        </div>
                                        <input name="sponser" class="form-control" placeholder="Sponser ID">
                                    </div> 
                                    
                                    <!-- form-group// -->
                                    <div class="form-group input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                                    </div>
                                    <select  name="countryCode" class="custom-select" style="max-width: 100px;">
                                        <option selected="">+91</option>
                                        <!-- <option value="1">+972</option>
                                        <option value="2">+198</option>
                                        <option value="3">+701</option> -->
                                    </select>
                                      <input name="phone" class="form-control" placeholder="Phone number" type="text">
                                    </div> 
                                   <!-- form-group end.// -->
                                    <div class="form-group input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                        <input name="password" class="form-control" placeholder="Create password" type="password">
                                    </div> <!-- form-group// -->
                                    <!-- form-group// -->  
                                    <h3 class="err-msg" style="color:red;font-size:1em;padding:4%;"><%=msg%></h3>                                                         
                                                          
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                                    </div>
                                     <!-- form-group// -->      
                                </form>
                      
                              </div>
                            </div>
                          </div>
                      
                          <!-- <div class="col-sm-4">
                            <div class="card">
                              <div class="card-body">
                                <a class="btn btn-block" href="/auth/google" role="button">
                                  <i class="fab fa-google"></i>
                                  Sign In with Google
                                </a>
                              </div>
                            </div>
                          </div> -->
                      
                        </div>
                      </div>
        </div>
        <% if(alert){ %>
          <%-include('alert',{alert:alert}) %>
         <%}%>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


  <%-include('footer') %>