<%-include('partials/header',{user:info.user}) %>

<form id="upload-bill-form" method="post" action="/admin/bills/electricity/uploadStatus" enctype="multipart/form-data">
    <!-- <label for="files[]">Upload status</label> -->
    <input id="upload-bill-status" type="file"  name="file">
    <button type="submit">Upload</button>
</form>
<h1 class="h3 mb-2 text-gray-800">Processing <%=info.title%></h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Electricity Batch <%=info.batchCount  %> </h6>
    </div>
    <div class="card-body">
        <form action="/admin//bills/electricity/processing/" id="transaction-filter" method="post" style="margin:1%;">
            <div class="form-group row mb-0" bis_skin_checked="1">
            
            <div class="col-sm-3 col-6" bis_skin_checked="1" >
                <label>Find Batch</label>
                    <div class="form-group input-group">
                        <input name="batchId" value="<%= (info.batchCount) %>" class="form-control" placeholder="Batch No" type="number">
                    </div> 
            </div>
            <div class="col-sm-2 col-6" bis_skin_checked="1">
                <label>&nbsp;</label>
                <div class="input-group " bis_skin_checked="1">
                    <input type="submit" value="Find Batch"  class="btn btn-primary">
                </div>
            </div>
        </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>CustomerNo</th>
                        <th>State</th>
                        <th>Department</th>
                        <th>Due Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <td>ReceiptNo</td>
                        <!-- <th>Submitted At</th> -->
                        <!-- <th>Submitted By</th> -->
                        <!-- <th>Action</th> -->


                    </tr>
                </thead>
                <!-- <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th> 
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot> -->
                <tbody>
                    <% info.bills.forEach(bill=>{%>
                        <tr id="b<%=bill.id %> ">
                            <td class="id"><%=bill.id %></td>
                            <td class="kno"><%=bill.kno%></td>
                            <td class="status"><%=bill.state%></td>
                            <td class="department"><%=bill.department%></td>
                            <td><%=bill.billDueDate%></td>
                            <td class="amount"><%=bill.amount%> ₹</td>
                            <td class="<%= bill.status %> status-update"><a href="#"><%=bill.status%></a></td>
                            <td class="status-update"><a href="#"><%=bill.receiptNo || "N/A"%></a></td>
                            <!-- <td><%=bill.submittedAt.toLocaleDateString()%></td> -->
                            <!-- <td><%=bill.submittedBy%></td> -->
                            <!-- <td><button type="button" class="btn btn-warning">Edit</button></td> -->
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update bill</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"> 
            <form action="/admin/bills/electricity/updateOne/" method="POST" id="login-form">
                <div class="form-group">
                    <label for="status">Status</label>

                  <select name="status" id="status" class="form-control">
                    <option class="successfull">SUCCESSFULL</option>
                    <option class="processing">PROCESSING</option>
                    <option class="failed">FAILD</option>
                  </select>
                </div>
                 <input type="hidden" id="receiptId" name="id" value="">
                <div class="form-group">
                  <label for="receipt">Receipt Number</label>
                  <input type="text" class="form-control" name="receipt" id="receipt" placeholder="Receipt number" value="">
                </div>
                 <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">save</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                  </div>
              </form>
        </div>
        
      </div>
    </div>
  </div> 

<%-include('partials/footer',{path:"processingBills"}) %>