<%-include('partials/header') %>

<form id="upload-bill-form" method="post" action="/admin/bills/electricity/uploadStatus" enctype="multipart/form-data">
    <!-- <label for="files[]">Upload status</label> -->
    <input id="upload-bill-status" type="file"  name="file">
    <button type="submit">Upload</button>
</form>
<h1 class="h3 mb-2 text-gray-800">Processing <%=info.title%></h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Electricity Batch <%=info.batchCount  %> </h6>
    </div>
    <div class="card-body">
        <form action="/admin//bills/electricity/processing/" id="transaction-filter" method="post" style="margin:1%;">
            <div class="form-group row mb-0" bis_skin_checked="1">
            
            <div class="col-sm-3 col-6" bis_skin_checked="1" >
                <label>Find Batch</label>
                    <div class="form-group input-group">
                        <input name="batchId" value="<%= (info.batchCount) %>" class="form-control" placeholder="Batch No" type="number">
                    </div> 
            </div>
            <div class="col-sm-2 col-6" bis_skin_checked="1">
                <label>&nbsp;</label>
                <div class="input-group " bis_skin_checked="1">
                    <input type="submit" value="Find Batch"  class="btn btn-primary">
                </div>
            </div>
        </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>CustomerNo</th>
                        <th>State</th>
                        <th>Department</th>
                        <th>Due Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <td>ReceiptNo</td>
                        <!-- <th>Submitted At</th> -->
                        <!-- <th>Submitted By</th> -->
                        <!-- <th>Action</th> -->


                    </tr>
                </thead>
                <!-- <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th> 
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot> -->
                <tbody>
                    <% info.bills.forEach(bill=>{%>
                        <tr>
                            <td><%=bill.id %></td>
                            <td><%=bill.kno%></td>
                            <td><%=bill.state%></td>
                            <td><%=bill.department%></td>
                            <td><%=bill.billDueDate%></td>
                            <td><%=bill.amount%> ₹</td>
                            <td class="<%= bill.status %>"><%=bill.status%></td>
                            <td><%=bill.receiptNo || "N/A"%></td>
                            <!-- <td><%=bill.submittedAt.toLocaleDateString()%></td> -->
                            <!-- <td><%=bill.submittedBy%></td> -->
                            <!-- <td><button type="button" class="btn btn-warning">Edit</button></td> -->
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%-include('partials/footer',{path:"processingBills"}) %>