<%-include('partials/header') %>

  
  <h1 class="h3 mb-2 text-gray-800"><%=info.title%>  </h1>
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Transactions</h6>
      </div>
      <div class="card-body">
        <form action="/admin/transactions" id="transaction-filter" method="post">
          <div class="form-group row mb-0" bis_skin_checked="1">
            <div class="col-sm-2 col-6" bis_skin_checked="1">
                <label>From Date</label>
                    <input name="fromDate" value=<%=info.fromDate%> id="fromDate" class="form-control" autocomplete="off" placeholder="From Date" type="date">
            </div>
            <div class="col-sm-2 col-6" bis_skin_checked="1">
                <label>To Date</label>
                    <input name="toDate" value=<%=info.toDate %>  id="fromDate" class="form-control" autocomplete="off" placeholder="From Date" type="date">
            </div>
            <div class="col-sm-3 col-6" bis_skin_checked="1" ata-select2-id="7">
                <label>From</label>
                    <div class="form-group input-group">
                        <input name="fromName" value="<%=info.fromName %>"  class="form-control" placeholder="MemberID" type="text">
                      </div> 
            </div>
            <div class="col-sm-3 col-6" bis_skin_checked="1" data-select2-id="7">
                <label>To</label>
                    <div class="form-group input-group">
                        <input name="toName" value="<%=info.toName %>" class="form-control" placeholder="MemberID" type="text">
                      </div> 
            </div>
            <div class="col-sm-2 col-6" bis_skin_checked="1">
                <label>&nbsp;</label>
                <div class="input-group " bis_skin_checked="1">
                    <input type="submit" value="Search"  class="btn btn-primary">
                </div>
            </div>
        </div>
        </form>
   
            <div class="table-responsive">
              <table class="table table-striped ">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">From</th>
                    <th scope="col">Amount</th>
                    <th scope="col">To</th>
                  </tr>
                </thead>
                <tbody>
                  <% info.transactions.forEach(t=>{%>
                    <tr>
                      <th class="date" scope="row"><%=t.date.toLocaleDateString()%></th>
                      <td class="from" ><%=t.from.name%></td>
                      <td class="amount"><%=t.amount %>  ₹</td>
                      <td class="to"><%=t.to.name %></td>
                    </tr>
                  <% }) %>
                 
                  <!-- <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird sdfsd sdf s sd fsdf sd fsdfsdf sdfsd sdf s sd fsdf sd fsdfsdf </td>
                    <td>@twitterd </td>
                  </tr> -->
                </tbody>
              </table>
          </div>
      </div>
  </div>

 
<%-include('partials/footer',{path:""}) %>