<%-include('partials/header',{user:info.user}) %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800 text-hover">Hi, wellcome back <p class="h3 mb-0 text-gray-800">Retailer</p></h1>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Your pending fund requests</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table " id="fundRequestsTable" width="100%" height="10%"  cellspacing="0">
                <thead>
                     <tr>
                     <th>TransactionID</th>
                     <th>Status</th>
                     <th>Username</th>
                     <th>Account Type</th>
                     <th>Amount</th>
                     <th>On</th>
                     <th>Action</th>
                     </tr>
                </thead>
                <!-- <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot> -->
                <tbody >
                    <% info.transactions.forEach(t=>{%>
                        
                        <tr id="t<%= t.id %>">
                            <td class="transaction-id"><%= t.id %> </td>
                            <td class="transaction-status"><%= t.status %> </td>
                            <td class="requesting-username"><%= t.to.name %> </td>

                           <td class="requesting-account-type"><%=t.to.accountType%></td>
                           <td class="transaction-amount"><%=t.amount%></td>
                           <td class=""><%=t.date.toLocaleDateString()%></td>
                           <td class=" td update-fund-button"><form action="/retailer/fundRequest/cancel/<%= t.id %> " method="get">
                            <button 
                            type="submit" 
                            class="btn btn-primary user-info" 
                            transationId="<%= t.id %>">
                            Cancel
                            </button>
                        </form>
                           </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%-include('partials/footer',{path:""}) %>