<%-include('partials/header',{user:info.user}) %>


                    <h1 class="h3 mb-2 text-gray-800"><%=info.title%>  </h1>
                 
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Bills</h6>
                        </div>
                        
                        <div class="card-body">
                           
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>CustomerNo</th>
                                            <th>State</th>
                                            <th>Department</th>
                                            <th>Due Date</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th>Submitted At</th>
                                            <th>Submitted By</th>
                                            <!-- <th>Action</th> -->
                                            <th style="display: none;">Status</th>
                                            <th style="display: none;">RecieptNo</th>
                                        </tr>
                                    </thead>
                                    <!-- <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot> -->
                                    <tbody>
                                        <% info.bills.forEach(bill=>{%>
                                            <tr>
                                                <td><%=bill.id %></td>
                                                <td><%=bill.customerName%></td>
                                                <td><%=bill.kno%></td>
                                                <td><%=bill.state%></td>
                                                <td><%=bill.department%></td>
                                                <td><%=bill.billDueDate%></td>
                                                <td>₹<%=bill.amount%></td>
                                                <td><%=bill.status%></td>
                                                <td><%=bill.submittedAt.toLocaleDateString()%></td>
                                                <td><%=bill.submittedByUsername%></td>
                                                <!-- <td><button type="button" class="btn btn-warning">Edit</button></td> -->
                                                <th style="display: none;">Status</th>
                                                <th style="display: none;"></th>
                                            </tr>
                                         <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            
                
<%-include('partials/footer',{path:""}) %>
