<%-include('partials/header',{user:info.user}) %>

  
                    
                    <!-- Page Heading -->
                    <div class="container mt-5">
                        <div class="row">
                          
                          <div class="col-sm-6  ">
                            <div class="card">
                              <div class="card-body">
                                <h3 class="login-page-heading">Submit a <%=info.billType %> Bill</h3>
                      
                                <!-- Makes POST request to /login route -->
                                  <form actionid="signup-form" action="/retailer/bills/<%=info.billType %>/submit " method="post" id="retailer-submit-bill">
                                  <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"> <i class="fas fa-users-cog"></i> </span>
                                  </div>
                                  <select name="state" class="form-control" id="state" required>
                                      <option disabled >Select State</option>
                                      <option value="Cndhra Pradesh">Andhra Pradesh</option>
                                      <option value="Crunachal Pradesh">Arunachal Pradesh</option>
                                      <option value="Cssam">Assam</option>
                                      <option value="Cihar">Bihar</option>
                                      <option value="Chandigarh">Chandigarh</option>
                                      <option value="Chhattisgarh">Chhattisgarh</option>
                                      <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                      <option value="Goa">Goa</option>
                                      <option value="Gujarat">Gujarat</option>
                                      <option value="Haryana">Haryana</option>
                                      <option value="Himachal Pradesh">Himachal Pradesh</option>
                                      <option value="Jammu and kashmir">Jammu and kashmir</option>
                                      <option value="Karnataka">Karnataka</option>
                                      <option value="Lakshadweep">Lakshadweep</option>
                                      <option value="Madhya Pradesh">Madhya Pradesh</option>
                                      <option value="Maharashtra">Maharashtra</option>
                                      <option value="Manipur">Manipur</option>
                                      <option value="Meghalaya">Meghalaya</option>
                                      <option value="Mizoram">Mizoram</option>
                                      <option value="Nagaland">Nagaland</option>
                                      <option value="Nagaland">Nagaland</option>
                                      <option value="New Delhi">New Delhi</option>
                                      <option value="Odisha">Odisha</option>
                                      <option value="Pondicherry">Pondicherry</option>
                                      <option value="Punjab">Punjab</option>
                                      <option value="Rajasthan" selected>Rajasthan</option>
                                      <option value="Sikkim">Sikkim</option>
                                      <option value="Tamil Nadu">Tamil Nadu</option>
                                      <option value="Telangana">Telangana</option>
                                      <option value="Tripura">Tripura</option>
                                      <option value="Uttar Pradesh">Uttar Pradesh</option>
                                      <option value="Uttarakhand">Uttarakhand</option>
                                      <option value="West Bengal">west Bengal</option>
                                </select>
                                </div>

                                <div class="form-group input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fas fa-users-cog"></i> </span>
                                </div>
                                <select name="department" class="form-control" id="department" required>
                                  <option disabled >Select department</option>
                                  <option value="JRE">JAIPUR VIDYUT VITRAN NIGAM - RAJASTHAN</option>
                                  <option value="JVVNL">JODHPUR VIDYUT VITRAN NIGAM LTD</option>
                                  <option value="ARE">AJMER VIDYUT VITRAN NIGAM (AVVNL) - RAJASTHAN</option>
                                  <option value="BESL">BHARATPUR ELECTRICITY SERVICES LTD</option>
                                  <option value="BKESL">BIKANER ELECTRICITY SUPPLY LIMITED (BKESL)</option>
                                  <option value="KEDL">BIKANER ELECTRICITY SUPPLY LIMITED (BKESL)</option>

                              
                            </select>
                              </div>
                                  
                                    <div class="form-group input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fas fa-id-badge"></i> </span>
                                     </div>
                                        <input name="kno" class="form-control" placeholder="CustomerID" type="text" required>
                                    </div> 
                                    <!-- <div class="form-group input-group" id="sponsered-by-input">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fas fa-asterisk"></i> </span>
                                        </div>
                                        <input name="sponser" class="form-control" placeholder="Sponser ID">
                                    </div>  -->
                                    
                                    <!-- form-group// -->
                                   
                                   
                                   <!-- form-group end.// -->
                                     <!-- form-group// -->
                                    <!-- <div class="custom-control custom-checkbox">
                                      <input name="ckeckbox" type="checkbox" class="custom-control-input" id="customCheck1">
                                      <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                    </div> -->
                                    <!-- form-group// -->  
                                    <h3 class="err-msg" style="color:red;font-size:1em;padding:4%;"><%=info.msg%></h3>                                                         
                                                          
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block"> Submit  </button>
                                    </div>
                                     <!-- form-group// -->      
                                </form>
                      
                              </div>
                            </div>
                          </div>
                      
                          <!-- <div class="col-sm-4">
                            <div class="card">
                              <div class="card-body">
                                <a class="btn btn-block" href="/auth/google" role="button">
                                  <i class="fab fa-google"></i>
                                  Sign In with Google
                                </a>
                              </div>
                            </div>
                          </div> -->
                      
                        </div>
                      </div>

<%-include('partials/footer',{path:'submit'}) %>
